/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #0c2697, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    overflow: hidden;
}

/* Container */
.container {
    background-color: #207ed0;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Form Title */
.container h1 {
    font-size: 24px;
    color: #dce4eb;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Form Styles */
form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #1c9ac8;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #4facfe;
    box-shadow: 0 0 8px rgba(79, 172, 254, 0.5);
}

/* Button Styles */
.form-btn input {
    width: 100%;
    background: #4facfe;
    color: #fffffffb;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-btn input:hover {
    background: #087c83;
    transform: translateY(-3px);
}

/* Links */
.container a {
    text-decoration: none;
    color: #e5eaee;
    font-weight: bold;
    transition: color 0.3s ease;
}

.container a:hover {
    color: #00f2fe;
}

/* Alerts */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 8px;
}

.alert-danger {
    background: #0e87bf;
    color: #721c24;
}

.alert-success {
    background: #1990cb;
    color: #155724;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .form-group input,
    .form-btn input {
        font-size: 14px;
    }

    .container h1 {
        font-size: 20px;
    }
}
